@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --light-grey: #f7f7f7;
    --dark-grey: #757575;
}

body {
    background-color: #f7f7f7;
}

header {
    background-color: lightslategray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shipPlacementPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#gameboardPage {
    display: flex;
    gap: 40px;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.computer-grid .cell:hover {
    background-color: lightgray;
}

.grid {
    width: 400px;
    height: 400px;
    display: grid;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
}

.ship {
    background-color: #757575;
}

.shipPlaceholder {
    background-color: lightskyblue;
}

.hit {
    background-color: lightcoral;
}

.miss {
    background-color: lightgreen;
}